affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1733731077999/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428374110/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1704131249540/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1736247869287/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1738940341450/work
GDAL @ file:///Users/runner/miniforge3/conda-bld/gdal-split_1707215644589/work/build/swig/python
geocube @ file:///home/conda/feedstock_root/build_artifacts/geocube_1684946384636/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1704438924015/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1736908218616/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1733731066416/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219728782/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1697011162753/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1704280751436/work/dist/numpy-1.26.3-cp312-cp312-macosx_11_0_arm64.whl#sha256=853ce29de12bbda1883c709c101f1d8eae8c9dc4d2614a360d4488a63bf0b1a4
odc-geo @ file:///home/conda/feedstock_root/build_artifacts/odc-geo_1737145497929/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1702057228657/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1726075096567/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1702028165637/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1738317518727/work
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1702440567149/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rioxarray @ file:///home/conda/feedstock_root/build_artifacts/rioxarray_1719347633975/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1734967736459/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496824048/work/dist/scikit_learn-1.6.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=b73b4426f1e03a197903eddede31a62b6859e1eb5d298b145d003d742720c9f7
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790747129/work/dist/scipy-1.15.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=6377b40ec578974afe4a77d938cf02b8494de15d4ba3ab3b9cb5f71d23b06a92
setuptools==75.8.0
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1700762943185/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615911982/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692573761/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
wheel==0.45.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1738313659268/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1737234886776/work
zstandard @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/zstandard_1699238791645/work
